# dependencies
/node_modules
/litun/node_modules
/lexi-education/node_modules
/filo-estate/node_modules
/sanvit-holding/node_modules
/lexi-education/.next
/filo-estate/.next
/sanvit-holding/.next
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/litun/.next/
/filo-estate/.next/
/sanvit-holding/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local
.env

# typescript
*.tsbuildinfo
/litun/*.tsbuildinfo
/filo-estate/*.tsbuildinfo
/sanvit-holding/*.tsbuildinfo

# vercel
.vercel
/litun/.vercel
/filo-estate/.vercel
/sanvit-holding/.vercel
